* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 236, 93);

}


.cardContainer__style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color:rgb(247, 179, 9);


}

.card__style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: white;
    border: 0.1rem solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}