.card__img{
   width: 100%;
}
.div__container{
   border: 2px solid black;
   width: 30em;

}

.hastag__individual__container{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: antiquewhite;
   width: 20%;
   height: 2em;
   border: black 1px solid;
   border-radius: 3em;
}
.hastag__container{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
}
