
.character__detailed__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.text__container{
    color:white;
    width: 100%;
}
.character__image{
    margin-left: 11em;
}
.character__name{
    margin-bottom: 0.2em;
}

.character__status__detail{
    margin-bottom: 0;
    font-size: 1.5em;
}

.character__gender{
    font-weight: 600;
    color: #9e9e9e;
}

.character__species{
    color:#ff9800;
    font-weight: 900;
}


.episodes__container{
    margin-top: 2em;
    background-color: black;
    height: 20em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}

.episode__title{
font-weight: 800;
color:#3ab5cc;
}
