.red{
    width:100px;
    height:100px;
    background-color: red;
}

.green{
    width:100px;
    height:100px;
    background-color: green;
}
.yellow{
    width:100px;
    height:100px;
    background-color: yellow;
}

.blue{
    width:100px;
    height:100px;
    background-color: blue;
}