.divRed {
    width: 100px;
    height: 100px;
    background-color: red;
}
.divGreen {
    width: 100px;
    height: 100px;
    background-color: green;
}
.divBlue {
    width: 100px;
    height: 100px;
    background-color: blue;
}