* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    background-color: rgb(28, 85, 150) ;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
}
.card {
    width: 450px;
    background-color: cadetblue;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px #000000;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
img{
    width: 150px;
}
.contInput {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.input {
    background-color: rgb(28, 85, 150);
    outline: none;
}
.punto {
    width: 15px;
    height: 15px;
}
